@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* home text */
.home-para {
  left: 0%;
  right: 47.18%;
  top: 12.86%;
  bottom: 2.29%;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  color: #42446e;
}

.contact-text {
  color: #42446e;
}

@media only screen and (max-width: 600px) {
  .home-para {
    font-size: 20px;
    line-height: 35px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home-para {
    font-size: 28px;
    line-height: 40px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-para {
    font-size: 32px;
    line-height: 45px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-para {
    font-size: 48px;
    line-height: 70px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .home-para {
    font-size: 48px;
    line-height: 70px;
  }
}

.night {
  background-color: #333;
  color: #fff;
}

.day {
  background-color: #fff;
  color: #333;
}

.home-section {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.connect {
  width: 50%;
}

.scroll {
  cursor: pointer;
}

.project-card {
  box-shadow:
   rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
   rgba(25, 16, 16, 0.3) 0px 30px 60px -30px;
}